.hero{
width:100%;
height: 200px;
display: flex;
align-items: center;
justify-content: center;
}

#tx{
    font-size: 80px;
    text-align: center;
    -webkit-text-stroke: thin goldenrod;
    color: transparent;
}

body{
    margin: 0;
    padding: 0;
    background: #f0f3ff;
}

#searchBox{
    border-radius: 10px;
    padding: 30px;
    background: #f0f3ff;
    display: flex;
    align-items: center;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

#icon{
    cursor: pointer;
    transition-delay: 0.5s;
}

input{
    font-size: 20px;
    width: 0px;
    border: 0;
    background: transparent;
    outline: none;
    transition: 2s;
}

.active input{
    width: 500px;
    padding: 12px 20px;
}